body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
a:link, a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color:rgba(102,224,222,1.00);
	text-decoration: none;
}
.works a:link, .works a:visited {
	color: #2F4F4F;
	text-decoration: none;
}
.works a:hover {
	color: #ADD8E6;
	text-decoration: none;
}
a img {
	border-style:none;
}

#container {
	text-align: left;
	margin: 0px auto;
	width: 930px;
}
#header {
	margin: 0px 0px 35px 0px;
}
#header h1 {
	font-size: 8pt;
	font-weight: bold;
	padding: 0px 0px 0px 5px;
	margin: 30px 0px 0px 0px;
}
#header h2 {
	padding: 7px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
}
h2 img {
	padding: 0px 0px 30px 0px;
}
#pankuzu {
	font-size: 80%;
	margin-bottom: 5px;
	padding: 0px 0px 0px 10px;
	font-weight: bold;
}
#rt {
	float: right;
	text-align: right;
	font-size: 80%;
	margin-bottom: 5px;
	padding: 0px 5px 0px 0px;
}

#logo {
	float: right;
	text-align: right;
	width: 130px;
	padding: 0px 5px 0px 0px;
}
#underline {
	margin: 2px 0px 50px 0px ;
	border-top: 2px solid #000000;
}
#contents {
	float: left;
	width: 690px;
	margin-bottom: 10px;
}
#contents ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.pics {
	text-align: left;
	display: block;
	padding: 0px 40px;	
	margin: 0px 0px 50px 0px;
	width: 150px;
	height: 300px;
	float: left;
}
.pics h4 {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	width: 150px;
	height: 150px;
}

.pics img {
	border: 2px solid rgba(232,232,232,1.00);
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.pics p {
	font-size: 80%;
	line-height: 1.4;
	margin: 5px 0px 3px 0px;
}
.name {
	font-weight: bold;
	padding: 5px 10px 15px 10px;
	min-height: 4em;
}
.date {
	font-size: 70%;
	padding: 5px 0px 0px 10px;
	border-top: 2px solid rgba(232,232,232,1.00);
}

#loading {
	text-align: center;
	margin: 200px 0;
}

#sidebar {
	display: block;
	float: left;
	padding-left: 30px;
	width: 210px;
}
#sidebar ul {
	list-style: none;
	margin-top: 0px;
	padding: 0px;
}
#sidebar ul li {
	text-align: left;
	padding: 0px 0px 15px 10px;
	margin: 10px 0px 15px 0px;
}

#pages {
	clear: both;
	width: 930px;
	height: 20px;
	text-align: left;
	font-size: 80%;
	padding: 0px;
	margin: 0px auto;
}

#pages ul {
	width: 690px;
	text-align: center;
	padding: 20px 0px;
	margin: 20px 240px 30px auto;
}
#pages li {
	display:inline;
	margin:0px 15px;
}

#footer {
	clear: both;
	width: 930px;
	margin: 10px 240px 30px auto;
	font-size: 50%;
}
.hidden {
	display: none;
}

#backtotop {
	width: 690px;
	text-align: center;
	padding: 40px 0px 0px 0px;
	margin: 0px 230px 100px 0px;
}
.notfound {
	text-align: center;
	margin-top:250px;
}

